/**--- Declaracion de variables Para 
    el tipo de fuente y colores ---**/
:root {    
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --verde: #689c6e;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;           /* 1 rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;    
}

body {
    /*background-image: url(../img/fondo.png);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;    
    margin: 0 auto;
}

.canvas {
    position: absolute;
    z-index: -1;      
}

/** Globales **/
.contenedor {    
    width: 120rem;
    height: auto;
    margin: 0 auto;       
}

a {
    text-decoration: none;
}

p {    
    margin: 0;
    line-height: 1.5;
}

h1 {
    font-family: var(--fuenteHeading);    
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

ul {
    list-style: url(../img/item.png);
}

li {
    line-height: 1.5;
}

span {
    font-weight: 700;
}

.no-margin {
    margin: 0;    
}

.leading {
    line-height: 1.5;
}

.mg {
    margin-bottom: 2rem;
}

/*--- Menu De Opciones ---*/
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;     
    margin-bottom: 2rem; 
    padding-top: 2rem;
}

.boton {       
    color: var(--verde);
    font-size: 1.6rem;
    padding: 0.8rem;
    text-decoration: none;
    text-align: center;
    border-radius: 100%;
    border: 2px solid var(--blanco);
    box-shadow: 0px 0px 8px #03a9f4;
}

.boton:hover {
    filter:opacity(0.9);
    transform:scale(1.1);
}

/** CONTENIDO PRINCIPAL **/
/* Para dividir la hoja de vida en dos columnas*/
.main{
    background-color: var(--blanco);
    display: grid;
    grid-template-areas: "sidebar information";
    grid-template-columns: 33% 66.35%;
    column-gap: 2.5rem;   
    border-radius: 2.5rem;  
} 

.sidebar{
    grid-column: sidebar;
    background-color: var(--verde);
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
}

.information {
    grid-column: information;
}

/**--- SIDEBAR ---**/
.nombre {    
    text-align: center;
    margin-top: 5.5rem;
    line-height: 0.6;
}

.nombre__header {
    font-size: 1.6rem;
}

.contact {
    margin-top: 3rem;
    margin-left: 4rem;    
}

.linkedin {
    margin-top: 2rem;
    margin-left: 4rem;    
}

.languages {
    margin-top: 2rem;
    margin-left: 4rem;
    line-height: 0.6;
}

.contact__text {
    padding-left: 3rem;
    line-height: 1.3;
    color: var(--negro);
}

/*--- Programming Languages ---*/
.p-languages {
    margin-top: 2.5rem;
    margin-left: 4rem;
}

.technologies {
    margin-top: 2rem;
    margin-left: 4rem;
}

.database {
    margin-top: 2rem;
    margin-left: 4rem;
}

/*--- Professional Interests ---*/
.p-interests {
    margin-top: 2rem;
    margin-left: 4rem;
}

.references {
    margin-top: 3rem;    
    margin-left: 4rem;    
}
/*--- Fin Del Sidebar ---*/

/** INFORMATION **/

/*--- Seccion Sobre Mi ----*/
.about-me {
    margin-top: 5rem;
}

.about-me__title {
    border-bottom: 2.5px solid var(--negro);
    padding-left: 1rem;
    margin: 0 8rem 1.5rem 4.5rem;
    line-height: 1.5;
}

.about-me__parrafo {
    padding: 0 8rem 0.8rem 1rem;
    margin: 0 0 1.5rem 5.5rem;
}

/*--- Seccion Educacion ---*/
.education {
    display: grid;
    grid-template-areas: "izq rigth";
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
    margin-top: 3rem;
}

.title-education {
    grid-column: 1 / 4;
    border-bottom: 2.5px solid var(--negro);
    padding-left: 1rem;
    margin: 0 8rem 1.5rem 4.5rem;
    line-height: 1.5;
}

.education__time {
    grid-column: izq;            
}

.education__university {
    grid-column: rigth;
}

.time-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 5.5rem;
}

.education__nombre {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.education__text {
    margin-top: 3.2rem;
}

/*--- Seccion Habilidades Tecnicas ---*/
.technical-skills {    
    padding: 0 0 0.8rem 0.5rem;
    margin: 3rem 8rem 1.5rem 4.5rem;
}

.technical-skills__title {
    border-bottom: 2.5px solid var(--negro);
    padding-left: 0.5rem;
    line-height: 1.5;
}

/*--- Seccion Experiencia ---*/
.experience {
    display: grid;
    grid-template-areas: "izq rigth";
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: column;
    column-gap: 2rem;
    margin-bottom: 5rem;
}

.title-experience {
    grid-column: 1 / 4;
    border-bottom: 2.5px solid var(--negro);
    padding-left: 1rem;
    margin: 0 8rem 2.5rem 4.5rem;
    line-height: 1.5;
}

.experience__time {
    grid-column: izq;
    border-right: 2.5px solid var(--negro);
    text-align: right;    
}

.experience__company {
    grid-column: rigth;    
}

.experience__text {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

.text__experience {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.experience__parrafo1 {
    margin-top: 1rem;
}

.experience__parrafo2 {
    margin-top: 11rem;
}

.experience__parrafo3 {
    margin-top: 18.5rem;
}

.experience__parrafo4 {
    margin-top: 8.8rem;
}

.text__experience-content {
    margin-top: 1rem;
    width: 90%;
}